language: php

sudo: false

services:
    - redis-server

matrix:
    include:
        - php: 5.6
        - php: 7.0
        - php: 7.1

install:
    - yes '' | pecl install redis
    - composer install

script:
    - ./bin/lint src
    - ./vendor/bin/phpunit --bootstrap vendor/autoload.php tests
    - php ./bin/stupidFunctionalTest.php $token $guild_id $channel_id || (sleep 5 && php ./bin/stupidFunctionalTest.php $token $guild_id $channel_id)
