language: php

sudo: false

services:
    - redis-server

matrix:
    include:
        - php: 7.0
        - php: 7.1
        - php: 7.2
        - php: 7.3
        - php: 7.4
        - php: 8.0

install:
    - yes '' | pecl install redis
    - composer install

script:
    - ./bin/lint src
    - ./vendor/bin/phpunit --bootstrap vendor/autoload.php tests
    - php ./bin/stupidFunctionalTest.php $token $guild_id $channel_id || (sleep 5 && php ./bin/stupidFunctionalTest.php $token $guild_id $channel_id)
